@font-face {
    font-family: 'capture_itregular';
    src: url('../fonts/capture-it/capture_it-webfont.woff2') format('woff2'),
         url('../fonts/capture-it/capture_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'first_orderregular';
    src: url('../fonts/first-order/firstorder-webfont.woff2') format('woff2'),
         url('../fonts/first-order/firstorder-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Utilities */
.grid-wrp {
  display: grid;
}

.img-drop-shadow {
  filter: drop-shadow( 0 0 4px #fff );
}

.section-overflow-hidden {
  overflow: hidden;
}

.grid-12cols {
  grid-template-columns: repeat( 12, 1fr );
}

.grid-wrp-inline {
  display: inline-grid;
}

.outline-0-onfocus:focus {
  outline: 0 !important;
}

.background-no-repeat-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-attachment-fixed {
  background-attachment: fixed !important;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow-x: hidden !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed;
}

.h-100vh {
  height: 100vh;
}

.box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.flip {
  transform: scale(-1);
}

.border--wider {
  border-width: 3px !important;
}

.container-mg-t {
  margin-top: 8.5rem;
}

.font-grow {
  font-size: 1.5rem !important;
}

.transition {
  transition: all 270ms ease;
}

.font-3rem {
  font-size: 3rem !important;
}

.justify-self-start {
  justify-self: start;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-self-end {
  justify-self: end !important;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-self-center {
  justify-self: center !important;
}

.bold-font {
  font-family: var( --anton-font );
}

.btn {
  background: transparent !important;
}

/* Custom styles */
body {
  --primary-color: #240538;
  --secondary-color: #F49019;
  --header-font: 'first_orderregular', sans-serif;
  --z-index-layer1: -400;
  --z-index-layer2: -200;
  --z-index-layer4: 200;
  --z-index-layer5: 400;
  --z-index-top: 600;
  --z-index-mostTop: 9999;
  font-family: 'capture_itregular', sans-serif;
  letter-spacing: 1.87px;
}

/* Overwrite bootstrap utilties */

.bg-primary {
  background: var(--primary-color) !important;
}

.bg-secondary {
  background: var(--secondary-color) !important;
}

.bg-dark {
  background: #000 !important;
}

.border-primary {
  border-color: var( --primary-color ) !important;
}

.text-dark {
  color: #000 !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

a.text-primary:focus,
a.text-primary:hover {
  color: var(--primary-color) !important;
}

.text-secondary {
  color: var(--secondary-color) !important;
}

a.text-secondary:focus,
a.text-secondary:hover {
  color: var(--secondary-color) !important;
}

a:hover,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var( --header-font ), sans-serif;
}

h2 {
  font-size: 2.88rem;
}

/* Sections */

.home-section {
  background: url(../img/home-img.jpeg);
}

.s-about {
  grid-column: 2 / 6;
}

.s-testimonies {
  background: url( ../img/testimonies-bg.jpeg );
}

.s-about__description {
  color: rgba( 0, 0, 0, .8 );
}

.s-about__img {
  grid-column: 7 / 12;
}

.s-blog {
  background: url(../img/home-img.jpeg);
}

.section-skew {
  transform: skewY(-2.7deg) !important;
}

.container-skew {
  transform: skewY(2.7deg);
}

.whole-cols-width {
  grid-column: 1 / 13;
}

.s-blog--cols {
  grid-template-columns: repeat( 7, 1fr );
  grid-column-gap: 1.75rem;
}

.s-blog__article:nth-child(2) {
  grid-column: 2 / 4;
}

.s-blog__article:nth-child(3) {
  grid-column: 4 / 6;
}

.s-blog__article:nth-child(4) {
  grid-column: 6 / 8;
}

.s-footer__projects {
  grid-column: 2 / 4;
}

.s-footer__links {
  grid-column: 5 / 7;
}

.s-footer__promotion {
  grid-column: 8 / 11;
}

.contact-input {
  background: rgba(255, 255, 255, .18);
}

.contact-grid {
  grid-template-columns: repeat( 3, 1fr );
}

.project-item:nth-child(1) {
  grid-column: 3 / 4;
  transform: translateY(3.3rem);
}

.project-item:nth-child(2) {
  grid-column: 4 / 5;
}

.project-item:nth-child(3) {
  grid-column: 5 / 6;
  transform: translateY(3.3rem);

}

.project-item:nth-child(4) {
  grid-column: 6 / 7;
}

.project-item:nth-child(5) {
  grid-column: 7 / 8;
  transform: translateY(3.3rem);

}

.project-item:nth-child(6) {
  grid-column: 8 / 9;
}

.project-item:nth-child(7) {
  grid-column: 9 / 10;
  transform: translateY(3.3rem);
}

.form-grid {
  grid-template-columns: repeat(5, 1fr);
}

.subscribe-input {
  width: 46rem;
  border-radius: 11px 0 0 11px;
}

.form-subscribe {
  grid-column: 4 / 9;
}

.subscribe-submit-btn {
  width: 9rem;
  border-radius: 0 19px 19px 0;
  margin-left: -.2rem;
  margin-top: .3rem;
}

.bg-multiply {
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
}

.s-portfolio--gap {
  grid-gap: .87rem;
}

.portfolio-item {
  /* background-blend-mode: multiply;
  background-color: rgba( 244, 144, 25, .5 ); */
  /* filter:  */
}

/* Carousels */
.carousel-testimonies__img {
  grid-column: 5 / 7;
  justify-self: end
}

.carousel-testimonies__title {
  grid-column: 7 / 9;
  justify-self: start;
  margin-left: -1.65rem;
}

.carousel-testimonies__description {
  grid-column: 7 / 9;
  justify-self: start;
}

/* Components */

.btn--custom-prim:hover,
.btn--custom-prim:focus {
  background-image: none !important;
  background-color: var(--primary-color) !important;
}

.btn--custom-prim:hover a,
.btn--custom-prim:focus a {
  color: #fff !important;
}

.btn--custom-sec:hover,
.btn--custom-sec:focus {
  background-image: none !important;
  background-color: var(--secondary-color) !important;
}

.btn--custom-sec:hover a,
.btn--custom-sec:focus a {
  color: #fff !important;
}

.c-btn-collapse {
  width: 4rem;
  height: 4rem;
  background: var( --primary-color );
  border: none;
  z-index: 500;
}

.c-btn {
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.main-menu__item--pseudoelement::after {
  content: "";
  display: block;
  position: absolute;
  margin-left: .7rem;
  height: .4rem;
  width: 8rem;
  background-image: url(../img/border-sec.png);
  background-repeat: no-repeat;
  background-position: 2180% bottom;
  opacity: 0;
  transition: all 400ms ease;
}

.main-menu__item--pseudoelement:hover::after {
  background-position: 33% bottom;
  opacity: 1;
}

.c-menu-icon {
  height: .18rem;
  width: 2rem;
}

.c-menu-icon::before {
  content: "";
  display: inline-block;
  height: .18rem;
  width: 2rem;
  background-color: #fff;
}

.c-menu-icon::after {
  content: "";
  display: inline-block;
  height: .18rem;
  width: 2rem;
  transform: translateY(-.68rem);
  background-color: #fff;
}

.btn--custom {
  background-image: url( ../img/button.png ) !important;
}

.btn--custom-sec {
  background-image: url( ../img/button-secondary.png ) !important;
}

/* .columns-carousel-item {
  grid-template-columns: repeat( 4, 1fr ) !important;
} */

/* Carousel */

.carousel-control-next-icon,
.carousel-control-prev-icon {
 width: 60px;
 height: 60px;
}

.carousel-control-next-icon {
  background-image: url( ../img/icon-next.png );
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
}

.carousel-control-prev-icon {
  background-image: url( ../img/icon-prev.png );
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: grid !important;
}

@media (max-width: 1200px) {

  .main-menu__item--pseudoelement::after {
    margin-left: 35%;
    width: 25rem;
  }

  .subscribe-input {
    border-radius: 11px;
  }

  .main-menu-breakpoint {
    background: var(--primary-color);
    position: absolute;
    height: 100vh;
    transition: all 200ms ease;
  }

  .main-menu__item:nth-child(1) {
    margin-top: 23%;
  }

  .menu-max1200-hide {
    opacity: 0;
    transform: translateY(-47rem);
  }

  .s-about {
    grid-column: 4 / 11 !important;
  }

  .form-subscribe {
    grid-column: 3 / 6 !important;
  }

  .subscribe-submit-btn {
    grid-column: 1 / 6;
    border-radius: 11px;
  }

  .s-footer__contact {
    grid-column: 2 / 12;
  }

  .s-footer__projects {
    grid-column: 2 / 5;
  }

  .s-footer__links {
    grid-column: 6 / 8;
  }

  .contact-input {
    width: 26rem;
  }

  .contact-textarea {
    width: 52.3rem !important;
  }

  .s-footer__promotion {
    grid-column: 9 / 12;
  }

  .s-blog__article {
    grid-column: 2 / 10 !important;
  }
}

@media (max-width: 992px) {

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    margin-top: 8.5rem;
  }

  .main-menu__item--pseudoelement::after {
    margin-left: 28.67%;
  }


  .subscribe-input {
    width: 30rem;
  }

  .form-subscribe {
    grid-column: 7 / 8;
  }

  .s-blog__article {
    grid-column: 2 / 10 !important;
  }

  .s-footer__projects {
    grid-column: 3 / 7;
  }

  .s-footer__links {
    grid-column: 7 / 11;
  }

  .s-about {
    grid-column: 4 / 10;
  }

  .s-footer__promotion {
    grid-column: 3 / 12;
  }

  .contact-input {
    width: 17.5rem;
  }

  .contact-textarea {
    width: 35.35rem !important;
  }

}

@media (max-width: 768px) {

  .main-menu__item:nth-child(1) {
    margin-top: 32.5%;
  }

  .main-menu__item--pseudoelement::after {
    margin-left: 21%;
  }

  .s-footer__projects {
    grid-column: 3 / 11;
  }

  .s-footer__links {
    grid-column: 3 / 11;
  }

  .contact-textarea {
    width: 89%;
  }

  .contact-input {
    width: 11rem;
  }

  .contact-textarea {
    width: 22.3rem !important;
  }
}

/* Cosmetics styles */

.bg-symbol-fire::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: cover;
  position: absolute;
  left: 37.5%;
  z-index: var(--z-index-layer1);
  background: url( ../img/symbol-fire.svg );
}

.bg-symbol-water::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: cover;
  position: absolute;
  top: 1rem;
  left: 47%;
  z-index: var(--z-index-layer1);
  background: url( ../img/symbol-water.svg );
  opacity: .27;
}

.bg-symbol-air::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: cover;
  position: absolute;
  top: 3rem;
  left: 32%;
  z-index: var(--z-index-layer1);
  background: url( ../img/symbol-air.svg );
  opacity: .12;
}

.symbol-earth::after {
  content: "";
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat !important;
  background-size: cover;
  position: absolute;
  top: .8rem;
  left: 47%;
  z-index: var(--z-index-layer1);
  background: url( ../img/symbol-earth.svg );
  opacity: .27;
}

.subheading::after {
  content: "";
  display: block;
  width: 3rem;
  height: 1.25px;
  margin-left: -1.5rem;
  margin-top: .45rem;
  margin-bottom: .7rem;
  background: rgba(0, 0, 0, .22 );
}

@media (max-width: 576px) {

  .main-menu__item:nth-child(1) {
    margin-top: 47%;
  }

  .main-menu__item--pseudoelement::after {
    margin-left: 14.55%;
  }

  .subscribe-input {
    width: 22.5rem;
  }

}

@media (max-width: 480px) {
  .subscribe-input {
    width: 21rem;
  }
}
